.git
.gitattributes
.idea
plans
**/node_modules
**/vendor
application/public/build
application/storage/logs/*
application/storage/framework/cache/data/*
application/storage/framework/sessions/*
application/storage/framework/views/*
application/storage/pail
application/public/hot
application/public/storage
application/.env
application/.env.*
application/.phpunit.result.cache
application/phpunit.xml
application/tests
application/database/*.sqlite
docker
*.md
!server-docker/README.md
